@import 'variables', 'mixins', 'normalize';
@import 'parts/plagin', 'parts/header', 'parts/modal';
html {
  &:before {
    content: "#{inspect($breakpoints)}";
    display: none;
  }
}
.clearfix {
  @each $pseudo in after before {
    &:#{$pseudo} {
      content: '';
      display: table;
    }
  }

  &:after {
    clear: both;
  }
}
.wrapper {
  margin: auto;
  width: $wrapper-width;

  @include breakpoint((to: desktop)) {
    width: 94%!important;
  }
}
a,
a:visited,
a:link,
a:hover {
  outline: none;
}
body {
  font-size: 16px;
  font-family: "Calibri", Arial;
  border-left: 12px solid #e5e4e4;
  border-right: 12px solid #e5e4e4;
  @include breakpoint((to: 600px)) {
    border: 0;
  }
}
@font-face {
  font-family: "Uni Sans";
  src:url("../fonts/uni-sans.thin-caps.otf");
}
@font-face {
  font-family: "Uni Sans Heavy";
  src: url("../fonts/uni-sans.heavy-caps.otf");
}
@font-face {
  font-family: "Calibri";
  src: url("../fonts/Calibri.ttf");
}
